*{
    box-sizing: border-box;
}
body{
    font-family: Roboto, Arial, sans-serif;
    color:#000;     
}
button{
    border:0;
    cursor: pointer;
}
a{
    text-decoration: none;
}
header{
    max-width: 1196px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    padding: 13px 0 20px; 
}
.logo{
    display: flex;
    width: 130px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    gap:5px;
}
.logo span{
    align-self: center;
}
.search{
    background: rgba(238, 238, 238, 0.71);
    border-radius: 10px; 
    border:0;
    width:100%;
    padding: 13px 55px 13px 20px;
    margin-top:5px;
}
.search-icon{
    background: transparent;
    position: absolute;
    top: 14px;
    right:12px;
}
.search-mobile{
    display: none;
}
.search-form{
    position: relative;
    width:620px;

}
.enter{
    background:#EBEBEB;
    width: 99px;
    border-radius: 50px;
    font-size: 14px;
    padding: 16px 29px;
}
.cart-icon{
    width: 50px;
    height: 54px;
    background: url(images/cart.png) no-repeat;
    position: relative;
}
.cart-index{
    font-size: 8px;
    background: #FFAF19;
    width:18px;
    height:18px;
    border-radius: 50%;
    position: absolute;
    right:0;
    bottom: 0;
    padding: 5px;
}
.user-nav{
    display: flex;
    gap:31px;
}
.slider{
    max-width: 1196px;
    margin: 0 auto;
    color: #FFFFFF;
}
.slider-item h1{
    font-size: 50px;
    line-height: 51px;
    width:380px;
}
.slider-item h2{
    font-size: 16px;
    line-height: 23px;
    width: 389px;
    margin-bottom: 32px;
}
.slider-bg1{
    background-image: url(images/slider-bg1.png);
}
.slider-item{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    padding:77px 100px;
}
.slider-btn{
    width:246px;
    height: 48px;
    background: #F47322 ;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 25px;
    padding:13px 53px;
}
.slider-bg2{
    background-image: url(images/slider-bg2.png);
}
.slider-bg3{
    background-image: url(images/slider-bg3.png);
}
.slider-bg2 h1{
    width: 407px;
}
.bonus{
    max-width:1196px;
    margin:50px auto;
    display:flex;
    gap:54px;
}
.bonus-bg1{
    background-image: url(images/bonus-bg1.png);
}
.bonus-bg2{
    background-image: url(images/bonus-bg2.png);
}
.bonus-item{
    background-repeat: no-repeat;
    background-size: cover;
    flex-basis: 50%;
    padding: 36px 32px 31px;
    border-radius:20px;
    color: #FFFFFF;
}
.bonus-item h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    margin-top:0px;
    margin-bottom: 21px;
}
.bonus-item p{
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    width:225px;
    margin-top: 8px;
}
.bonus-item .price{
    font-weight: 500;
    font-size: 24px;
    margin-top: 72px;
    margin-bottom: 0px;
}
.bonus-btn{
    background: #FFFFFF;
    padding: 16px 52px;
    border-radius: 50px;
}
.bonus .price span{
    font-size: 30px;
}
.owl-carousel .owl-nav button.owl-prev{
    background: url(images/arrow_left.png) no-repeat 50% 50% rgba(235, 235, 235, 0.7);
    width:40px;
    height: 40px;
    border-radius: 50%;
}
.owl-carousel .owl-nav button.owl-next{
    background: url(images/arrow_right.png) no-repeat 50% 50% rgba(235, 235, 235, 0.7);
    width:40px;
    height: 40px;
    border-radius: 50%;
}
.owl-nav span{
    display: none;
}
.owl-nav{
    position: absolute;
    right:46px;
    bottom:39px;
    display:flex;
    gap:17px;
}
.delivery{
    max-width:1196px;
    margin:110px auto 0;
    font-weight: 500;
}
.delivery h2{
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 47px;
}
.gallery{
    display: flex;
    gap:32px;
    flex-wrap:wrap;
    justify-content: center;
}
.gallery figure{
    border-radius: 18px;
    position: relative;
    margin:0;
    flex-basis: calc((100% - 32px*3) / 4);
}
.gallery img{
    border-radius: 18px;
    max-width:100%;
}
.gallery figcaption{
    position: absolute;
    top:16px;
    left:10px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 20px;

    padding:5px 10px;
}
figcaption.lg {
    color: #49494F;
    background: #D0FD89;
}
.catalog{
    background: #F6F6F6;
    width: 100%;
    padding:40px 0 172px;
    margin-top: 100px;
}
.catalog h2{
    font-weight: 500;
    font-size: 32px;
}
.categories{
    max-width:1196px;
    margin:0 auto;
}
.g {
    background: #AEBC41;
    color: #FFFFFF;
}
.pur {
    color: #FFFFFF;
    background: #B86B78;
}
.or {
    color: #FFFFFF;
    background: #D68334;
}
.red {
    color: #FFFFFF;
    background: #CD6255;
}
.yel {
    color: #49494F;
    background: #FFFDBF;
}
.lo {
    background: #F6FDC8;
    color: #49494F;
}
.pink {
    background: #FEF7FE;
    color: #49494F;
}
.categories ul{
    list-style: none;
    margin: 50px 0 62px;
    padding:0;
    display: flex;
    gap:58px;
}
.categories a{
    font-size: 20px;
    color: #49494F;
}
.food-item{
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    flex-basis: calc((100% - 37px*3) / 4);
}
.food-item img{
    border-radius: 20px 20px 0 0;
    max-width:100%;
}
.food-item h3{

    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    padding: 21px 23px 13px;
}
.food-item p{
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #B9B9BE; 
    margin: 13px 27px 36px 23px;
}
.food-details .price{
    font-weight: 500;
    font-size: 23px;
    line-height: 23px;
    color: #4B4B51;
}
.food-details .weight{
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #AAAAB1;
    margin-top:5px ;
}
.food-cart{
    font-weight: 500;
    font-size: 16px;
    color: #F37321;
    background: #FFFFFF;
    border: 2px solid #F37321;
    border-radius: 33px;
    padding:16px 25px;
}
.food-info{
    display: flex;
    margin: 36px 24px 0 23px;
    justify-content: space-between;
    padding-bottom: 21px;
}
.food-details{
    display: flex;
    flex-direction: column;
    gap:5px;
}
.food-examples{
    display: flex;
    flex-wrap:wrap;
    gap:37px;
}
.ui-tabs-active a{
    color: #F37321;
}
.benefits{
    max-width: 1191px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 202px;
}
.benefits-item svg{
    fill:#F37321;
    stroke:#F37321;
}
.benefits-item:hover svg{
    fill:#fff;
    stroke:#fff;
}

.benefits-item{
    border: 1px solid #E9E9E9;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    padding: 30px 23px 25px 24px;
    text-align: center;
    flex-basis: calc((100% - 37px*3) / 4);
}
.benefits-item h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
}
.benefits-item p{
    font-size: 14px;
    line-height: 22px;
    color: #49494F;
}
.benefits-item:hover{
    background: #F37321;
    border: 1px solid #F37321;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    color:#fff;
}
.benefits-item:hover p{
    color:#fff;
}
.benefits-cards{
    display: flex;
    gap:37px;
    flex-wrap: wrap;
    justify-content:center;
}
.benefits h2{
    margin-bottom: 52px;
}
footer{
    background: #F6F6F6;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer-content{
    max-width:1191px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
.footer-info{
    display: flex;
    gap:50px;
}
footer ul{
    display: flex;
    gap:50px;
    list-style: none;
    margin: 0;
    padding: 0;
    align-self: center;
}
.footer-info ul a{
    font-size: 16px;
    color: #000000;
    text-decoration: underline;
}
.social{
    display: flex;
    gap:20px;
    align-items: center;
}
footer .logo{
    height: 101px;
    font-size: 23px;
    line-height: 28px;
    width: 205px;
}